.vs/
/build*/
/out*/
/x64/
*.user
*.VC.db
*.VC.opendb
/SimCore/x64/Debug
/SimCoreSandbox/x64/Debug
/SimCoreTests/x64/Debug
/SimCoreTests.local.runsettings
/SimCoreSandbox/DolphinUser
/third-party/dolphin-2506a/lib/x64/Debug - Copy
/SimCoreSandbox/SOASimUser/Cache
/SimCoreSandbox/SOASimUser
/SimCore/x64/Release
/SimCoreSandbox/x64/Release
/SimCoreSandbox/simcore.log
/SimCoreSandbox/simcore.log
/bin/x64/Debug
/SimCoreWorker/x64/Debug
/SimCoreSandbox/RngSeedOutput.csv
/bin/x64/Release
/SimCoreWorker/x64/Release
/SimCoreTests/x64/Release
/_old files if needed
/DME_struct_extract.txt
/SoaSimGui/third_party/imgui/examples
/SoaSimGui/third_party/imgui/.github
/SoaSimGui/third_party/imgui/.gitattributes
/SoaSimGui/third_party/imgui/.gitignore
/SoaSimGui/x64/Debug
/SimCoreSandbox/DB
/SoaSimGui/imgui.ini
/SoaSimGui/SoaGui.ini
/SoaSimGui/x64/Release
/SoaSimQt/x64/Debug
/SoaSimQt/x64/Release
/SimCore/_Dolphin_src/Core
/SoaSimQt2/x64/
/SimCoreDB/x64/
/SimCoreDB/Common/Migrations/GeneratedMigrations.h
/SimCoreDBSchemaExport/x64/
/SimCoreDBSchemaExport/.db_val/
/SimCoreDBe2e/x64/
/SimCoreDBe2e/.simcoredbe2e
/SoaSimMLD/x64/
/SoaSimSCT/x64/
/SoaSimFileParsing/x64/
/Compression/x64/
/SoaSimQt3D/x64/Debug
/tools/sa3d_ref_runner/obj/Debug/net8.0
